body{
    background-color: rgb(235, 233, 233);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

$color_main:rgb(104, 104, 104);

$color_blanco:rgb(255, 255, 255);
$verde_primary: #67b500;

